@model SEPRET.Models.Custom.PasswordRecoveryVM
@{
    ViewBag.Title = "Solicitud de cambio de contraseña";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<div id="PasswordRecovery" class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto" style="display: none">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <form class="form">
            <div class="card card-hidden">
                <div class="card-header card-header-primary text-center">
                    <h4 class="card-title">Recuperar contraseña</h4>
                </div>
                <div class="card-body">

                    @Html.HiddenFor(x => x.ResetCode)

                    <div class="form-group bmd-form-group mt-4">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="material-icons">vpn_key</i></div>
                            </div>
                            <label class="bmd-label-floating prepend-label-margin">Contraseña</label>
                            @Html.TextBoxFor(x => x.NewPassword, new { @class = "form-control", @type = "password", @required = "true", @aria_required = "true" })
                        </div>
                    </div>

                    <div class="form-group bmd-form-group mt-4">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="material-icons">vpn_key</i></div>
                            </div>
                            <label class="bmd-label-floating prepend-label-margin">Repite la contraseña</label>
                            @Html.TextBoxFor(x => x.ConfirmPassword, new { @class = "form-control", @type = "password", @required = "true", @aria_required = "true" })
                        </div>
                    </div>

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.ValidationMessageFor(x => x.NewPassword, "", new { @class = "text-danger" })
                    @Html.ValidationMessageFor(x => x.ConfirmPassword, "", new { @class = "text-danger" })
                    <div class="text-danger">
                        @ViewBag.Message
                    </div>

                </div>
                <div class="card-footer justify-content-center">
                    <button class="btn btn-primary btn-round">Enviar</button>
                </div>
            </div>
        </form>
    }
</div>

@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script>
        $(document).ready(function () {
            md.checkFullPageBackgroundImage();
            setTimeout(function () {
                // after 1000 ms we add the class animated to the login/register card
                $('#PasswordRecovery').fadeIn();
            }, 500);
        });
    </script>
}