
@{
    ViewBag.Title = "View";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary card-header-icon row">
                <div class="card-icon">
                    <i class="material-icons">style</i>
                </div>
                <h4 class="card-title">Catálogo de empresas</h4>
            </div>
            <div class="card-body">
                <div class="toolbar">
                    <!--        Here you can write extra buttons/actions for the toolbar              -->
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <ul class="nav nav-pills nav-pills-rose mb-3" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" role="tablist" onclick="CompanyDT('Active');" style="cursor: pointer;">
                                        Activas
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" role="tablist" onclick="CompanyDT('Inactive');" style="cursor: pointer;">
                                        Inactivas
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" role="tablist" onclick="ProjectDT();" style="cursor: pointer;">
                                        Proyectos
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-sm-12 text-right">
                            <button class="btn btn-round btn-sm btn-outline-primary" onclick="AddEdit(0, false);">
                                <i class="material-icons">add</i> Agregar empresa
                            </button>
                        </div>
                    </div>
                </div>

                <div class="sk-chase" style="display: none;">
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                </div>`

                <div id="CompaniesDTContainer" class="material-datatables" style="display: none;">
                    <div id="datatables_wrapper" class="dataTables_wrapper dt-bootstrap4">
                        <div class="col-sm-12">
                            <table id="CompanyDT" class="table table-striped table-no-bordered table-hover dataTable dtr-inline" width="100%">
                                <thead>
                                    <tr>
                                        <th>RFC</th>
                                        <th>Nombre</th>
                                        <th>Teléfono</th>
                                        <th>Creado</th>
                                        <th>Propuesta por</th>
                                        <th>Activo</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>RFC</th>
                                        <th>Nombre</th>
                                        <th>Teléfono</th>
                                        <th>Creado</th>
                                        <th>Propuesta por</th>
                                        <th>Activo</th>
                                    </tr>
                                </tfoot>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div id="ProjectsDTContainer" class="material-datatables" style="display: none;">
                    <div id="datatables_wrapper" class="dataTables_wrapper dt-bootstrap4">
                        <div class="col-sm-12">
                            <table id="ProjectDT" class="table table-striped table-no-bordered table-hover dataTable dtr-inline" width="100%">
                                <thead>
                                    <tr>
                                        <th>Proyecto</th>
                                        <th>Empresa</th>
                                        <th>Creado</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Proyecto</th>
                                        <th>Empresa</th>
                                        <th>Creado</th>
                                    </tr>
                                </tfoot>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end content-->
        </div>
        <!--  end card  -->
    </div>
    <!-- end col-md-12 -->
</div>


<div id="ModalContainer" style="margin-top: -50px">

</div>

@section scripts{
    <script>
        $(() => {
            CompanyDT('Active');
        })

        Action = (Action, Id) => {
            fetch('@Url.Action("Action", "Company")', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json;'
                },
                body: JSON.stringify({ Action: Action, Id: Id })
            })
                .then(response => {
                    if (response.ok) {
                        Site.OkNotification('La solicitud se procesó correctamente');
                    }
                    else {
                        Site.ErrorNotification();
                    }
                })
                .catch(error => console.error(error))
        }

        Save = () => {
            let formData = new FormData(document.getElementById('Form'));

            fetch('@Url.Action("Index", "Company")', {
                method: 'POST',
                body: formData
            })
                .then(response => {
                    if (response.ok) {
                        Table.draw();
                        $('#AddEditCompanyModal').modal('hide');
                        Site.OkNotification('La empresa se guardó exitosamente');
                    } else {
                        Site.ErrorNotification();
                    }
                })
                .catch(error => console.error(error))
        }

        Detail = Id => {
            fetch('@Url.Action("AddEdit", "Company")', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json;'
                },
                body: JSON.stringify({Id: Id})
            })
                .then(response => response.text())
                .then(data => {
                    $('#ModalContainer').html(data);

                    $('.moving-tab').hide();
                    $('#AddEditModal').on('shown.bs.modal', function () {
                        Site.initMaterialWizard();
                        $('.moving-tab').show();
                        $('.btn-next').removeClass('disabled');
                    });
                    $('#AddEditModal').modal('show');
                })
                .catch(error => console.error(error))
        }

        AddEdit = (Id, ReadOnly) => {
            fetch('@Url.Action("AddEdit", "Company")', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json;'
                },
                body: JSON.stringify({Id: Id, ReadOnly: ReadOnly})
            })
                .then(response => response.text())
                .then(data => {
                    $('#ModalContainer').html(data);

                    $('.moving-tab').hide();
                    $('#AddEditCompanyModal').on('shown.bs.modal', function () {
                        Site.initMaterialWizard();
                        $('.moving-tab').show();
                        $('.btn-next').removeClass('disabled');
                    });
                    if (ReadOnly) {
                        $('form :input').prop("disabled", true);
                    }
                    $('#AddEditCompanyModal').modal('show');
                })
                .catch(error => console.error(error))
        }

        UpdateStatus = Id => {
            fetch("@Url.Action("UpdateStatus", "Company")", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json; charset=UTF-8'
                },
                body: JSON.stringify({ Id: Id })
            })
                .then(response => {
                    if (response.ok) {
                        Site.OkNotification('El estado del registro se actualizó correctamente');
                    } else {
                        Site.ErrorNotification();
                    }
                })
                .catch(error => console.error(error))
        }

        CartaPresentacion = ProjectId => {
            fetch('@Url.Action("AsignacionAsesor", "PDFGenerator")', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json;'
                },
                body: JSON.stringify({ ProjectId: ProjectId })
            })
                .then(response => response.blob())
                .then(blob => {
                    // It is necessary to create a new blob object with mime-type explicitly set
                    // otherwise only Chrome works like it should
                    var newBlob = new Blob([blob], { type: "application/pdf" });

                    // IE doesn't allow using a blob object directly as link href
                    // instead it is necessary to use msSaveOrOpenBlob
                    if (window.navigator && window.navigator.msSaveOrOpenBlob) {
                        window.navigator.msSaveOrOpenBlob(newBlob);
                        return;
                    }

                    // For other browsers:
                    // Create a link pointing to the ObjectURL containing the blob.
                    const data = window.URL.createObjectURL(newBlob);
                    var link = document.createElement('a');
                    link.href = data;
                    //link.setAttribute('target', '_blank');
                    link.download = 'Carta presentación.pdf';
                    link.click();
                    setTimeout(function () {
                        // For Firefox it is necessary to delay revoking the ObjectURL
                        window.URL.revokeObjectURL(data);
                    }, 100);
                })
                .catch(error => console.error(error))
        }

        InitMisc = () => {
            $('[rel="tooltip"]').tooltip();
            $("time.timeago").timeago();
        }

        ProjectDT = () => {
            $('#CompaniesDTContainer').hide();
            $('.sk-chase').show();
            ProjectTable = $('#ProjectDT').on( 'draw.dt', () => InitMisc()).DataTable({
                destroy: true,
                responsive: true,
                autoWidth: true,
                processing: true,
                serverSide: true,
                ajax: {
                    type: 'POST',
                    url: '@Url.Action("ProjectDT", "Company")'
                },
                columns: [
                    {
                        render: (data, type, { Id, ProjectName }) => `<a href="javascript:;" onClick="CartaPresentacion(${Id});" rel="tooltip" data-toggle="tooltip" data-placement="right" title="Clic para descargar cartas de presentación">${ProjectName}</a>`
                    },
                    { data: 'Company' },
                    {
                        data: 'TimeCreatedFormatted',
                        render: (data, type, full, meta) => `<time class="timeago" datetime="${data}" rel="tooltip" data-placement="left" title="${data}"></time>`
                    }
                ],
                columnDefs: [
                    { className: 'text-center', targets: [2] }
                ],
                language: {
                    url: '/SEPRET/Assets/json/SpanishDT.json'
                },
                initComplete: () => {
                    $('.sk-chase, #CompaniesDTContainer').hide();
                    $('select').selectpicker();
                    Site.StyleDropdownDT();
                    $('#ProjectsDTContainer').show();
                    $('[rel="tooltip"]').tooltip();
                    $("time.timeago").timeago();
                }
            })
        }

        CompanyDT = Filter => {
            $('.sk-chase').show();
            CompanyTable = $('#CompanyDT').on( 'draw.dt', () => InitMisc()).DataTable({
                destroy: true,
                responsive: true,
                autoWidth: true,
                processing: true,
                serverSide: true,
                ajax: {
                    type: 'POST',
                    url: '@Url.Action("DT", "Company")',
                    data: data => {
                        data.Filter = Filter
                    }
                },
                columns: [
                    {
                        render: (data, type, { Id, RFC }) => `<a href="javascript:;" onClick="AddEdit(${Id}, false);" rel="tooltip" data-toggle="tooltip" data-placement="right" title="Ver detalles y editar">${RFC}</a>`
                        //render: (data, type, row) => {
                        //    var menu = '<div class="dropdown"> <button class="btn btn-link btn-round btn-primary dropdown-toggle" type = "button" id = "dropdownMenuButton-' + row['Id'] + '" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" > ' + row['RFC'] + ' </button> <div class="dropdown-menu" aria-labelledby="dropdownMenuButton-' + row['Id'] + '">';

                        //    if (row['IsAdmin']) {
                        //        switch (row['Id_Dictum']) {
                        //            case 0:
                        //                menu += '<a class="dropdown-item text-primary" href="javascript:;"  onClick="AddEdit(' + row['Id'] + ', false);">Editar</a>';
                        //                break;
                        //            case 1:
                        //                menu += '<a class="dropdown-item text-success" href="javascript:;" onClick="Action(\'Accept\', ' + row['Id'] + ');">Autorizar</a>' +
                        //                    '<a class="dropdown-item text-danger" href="javascript:;" onClick = "Action(\'Reject\', ' + row['Id'] + ');" >Rechazar</a>' +
                        //                    '<a class="dropdown-item text-primary" href="javascript:;" onClick="AddEdit(' + row['Id'] + ', false);">Editar</a>';
                        //                break;
                        //            case 2:
                        //                menu += '<a class="dropdown-item" href="javascript:;" onClick="AddEdit(' + row['Id'] + ', false);">Editar</a>';
                        //                break;
                        //            default:
                        //                break;
                        //        }
                        //    } else {
                        //        switch (row['Id_Dictum']) {
                        //            case 0: case 1:
                        //                menu += '<a class="dropdown-item text-primary" href="javascript:;"  onClick="AddEdit(' + row['Id'] + ', false);">Editar</a>';
                        //                break;
                        //            default:
                        //                break;
                        //        }
                        //    }

                        //    menu += '<div class="dropdown-divider"></div> <a class="dropdown-item text-info" href="javascript:;" onClick="AddEdit(' + row['Id'] + ', true);">Ver detalles</a></div></div>';

                        //    return menu;
                        //}
                    },
                    { data: 'Nombre' },
                    { data: 'Telefono' },
                    {
                        data: 'TimeCreatedFormatted',
                        render: (data, type, full, meta) => `<time class="timeago" datetime="${data}" rel="tooltip" data-placement="left" title="${data}"></time>`
                    },
                    {
                        data: 'CreatedBy',
                        render: ({ Id, UserFullName, Email }, type, full, meta) => `<a class="text-primary" rel="tooltip" data-placement="left" title="Clic para enviar email" href="mailto:${Email}?subject=ITMH - Gestión Tecnológica y Vinculación">${UserFullName}</a>`
                    },
                    {
                        render: (data, type, row) => {
                            if (row['IsAdmin']) {
                                if (row['Active']) {
                                    return '<div class="togglebutton"><label><input type="checkbox" checked="" onClick="UpdateStatus(' + row['Id'] + ');"><span class="toggle"></span></label></div>';
                                }
                                else {
                                    return '<div class="togglebutton"><label><input type="checkbox" onClick="UpdateStatus(' + row['Id'] + ');"><span class="toggle"></span></label></div>';
                                }
                            }
                            else {
                                if (row['Active']) {
                                    return '<div class="togglebutton"><label><input type="checkbox" checked="" disabled><span class="toggle"></span></label></div>';
                                }
                                else {
                                    return '<div class="togglebutton"><label><input type="checkbox" disabled><span class="toggle"></span></label></div>';
                                }
                            }
                        }
                    }
                ],
                columnDefs: [
                    { className: 'text-center', targets: [5] }
                ],
                language: {
                    url: '/SEPRET/Assets/json/SpanishDT.json'
                },
                initComplete: () => {
                    $('.sk-chase, #ProjectsDTContainer').hide();
                    $('select').selectpicker();
                    Site.StyleDropdownDT();
                    $('#CompaniesDTContainer').show();
                    $('[rel="tooltip"]').tooltip();
                    $("time.timeago").timeago();
                }
            })
        }
    </script>
} 