@model SEPRET.Models.Custom.ProjectVM

<div class="wizard-container modal fade" id="AddEditModal" tabindex="-1" role="dialog" aria-labelledby="AddEditModal" aria-hidden="true" style="margin-top: -50px">
    <div class="card card-wizard modal-dialog modal-lg" role="document" data-color="rose" id="wizardProfile">
        <div class="modal-content">
            <form id="Form">
                <div class="card-header text-center">
                    <h3 class="card-title">
                        Registrar un nuevo proyecto
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h3>
                    <h5 class="card-description">Detalles del proyecto</h5>
                </div>
                <div class="wizard-navigation">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link active" href="#image" data-toggle="tab" role="tab">
                                Información básica
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#voucher" data-toggle="tab" role="tab">
                                Jusitficación y actividades
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#method" data-toggle="tab" role="tab">
                                Comentarios
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <dliv class="tab-pane active" id="image">
                            @Html.HiddenFor(x => x.Id)

                            <div class="row justify-content-center">
                                <div class="col-lg-8 col-md-12 col-sm-12 text-center">
                                    <div class="form-group">
                                        @Html.DropDownListFor(x => x.Id_Company, ViewBag.CompanyList as SelectList, new { @class = "selectpicker col-12", @data_size = "7", @data_style = "btn btn-outline-primary btn-round", @title = "Selecciona una empresa", @required = "" })
                                        <small class="form-text text-muted">¿La empresa que búscas no está en la lista? @Html.ActionLink("Da clic aquí", "Index", "Company")</small>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Título</label>
                                        @Html.TextBoxFor(x => x.Titulo, new { @required = "", @type = "text", @class = "form-control" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <div class="bootstrap-tagsinput primary-badge">
                                        <div class="form-group">
                                            <label>Objetivos específicos</label>
                                            @Html.TextBoxFor(x => x.ObjetivosEspecificos, new { @required = "", @class = "form-control", @data_role = "tagsinput", @placeholder = "Escribe un objetivo específico aquí" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Objetivo general</label>
                                        @Html.TextAreaFor(x => x.ObjetivoGeneral, new { @required = "", @class = "form-control", @rows = "5" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        @Html.DropDownListFor(x => x.Id_Kind, ViewBag.KindList as SelectList, new { @class = "selectpicker col-12", @data_size = "7", @data_style = "btn btn-outline-primary btn-round", @title = "Tipo", @required = "" })
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        @Html.DropDownListFor(x => x.Id_Ambit, ViewBag.AmbitList as SelectList, new { @class = "selectpicker col-12", @data_size = "7", @data_style = "btn btn-outline-primary btn-round", @title = "Ámbito", @required = "" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        @Html.DropDownListFor(x => x.Id_Nature, ViewBag.NatureList as SelectList, new { @class = "selectpicker col-12", @data_size = "7", @data_style = "btn btn-outline-primary btn-round", @title = "Carácter", @required = "" })
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        @Html.DropDownListFor(x => x.Id_Carreras, ViewBag.CareerList as MultiSelectList, new { @class = "selectpicker col-12", @data_size = "7", @data_style = "btn btn-outline-primary btn-round", @title = "Carrera", @required = "", @multiple = "" })
                                    </div>
                                </div>
                            </div>


                        </dliv>
                        <div class="tab-pane" id="voucher">
                            <div class="row justify-content-center">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Justificación</label>
                                        @Html.TextAreaFor(x => x.Justificacion, new { @required = "", @class = "form-control", @rows = "5" })
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-12">
                                    <div class="bootstrap-tagsinput info-badge">
                                        <div class="form-group">
                                            <label>Actividades</label>
                                            @Html.TextBoxFor(x => x.Actividades, new { @required = "", @class = "form-control", @data_role = "tagsinput", @placeholder = "Escribe una actividad aquí" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="method">

                            <div class="col-12">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Comentarios adicionales (visible para los alumnos)</label>
                                    @Html.TextAreaFor(x => x.Comentarios, new { @required = "", @class = "form-control", @rows = "15" })
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
            <div class="card-footer">
                <div class="mr-auto">
                    <input type="button" class="btn btn-previous btn-fill btn-default btn-wd disabled" name="previous" value="Anterior">
                </div>
                <div class="ml-auto">
                    <input type="button" class="btn btn-next btn-fill btn-rose btn-wd" name="next" value="Siguiente">
                    <input type="button" class="btn btn-finish btn-fill btn-rose btn-wd" onclick="Save(this);" name="finish" value="Finalizar" style="display: none;">
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery.tagsinput.js"></script>
<script src="~/Scripts/bootstrap-tagsinput.js"></script>

<script>
    setTimeout(function () {
        $('.card.card-wizard').addClass('active');
    }, 600);

    $('.moving-tab').hide();

    $('#AddEditModal').on('shown.bs.modal', function () {
        Site.initWizardForms();
        $('.moving-tab').show();
        $('.btn-next').removeClass('disabled');
        $('.bootstrap-tagsinput').find('input').eq(0).css('width', 'auto');
        var IdCarreras = @Html.Raw(Json.Encode(Model.Id_Carreras));
        $('#Id_Carreras').selectpicker('val', IdCarreras);
    })

    $('select').selectpicker();

</script>