@model SEPRET.Models.Custom.ProjectVM

<div class="wizard-container modal fade" id="AddEditModal" tabindex="-1" role="dialog" aria-labelledby="AddEditModal" aria-hidden="true" style="margin-top: -50px">
    <div class="card card-wizard modal-dialog modal-lg" role="document" data-color="rose" id="wizardProfile">
        <div class="modal-content">
            <form id="Form">
                <div class="card-header text-center">
                    <h3 class="card-title">
                        Registrar un nuevo proyecto
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h3>
                    <h5 class="card-description">Detalles del proyecto</h5>
                </div>
                <div class="wizard-navigation">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link active" href="#image" data-toggle="tab" role="tab">
                                Título del proyecto
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#voucher" data-toggle="tab" role="tab">
                                Tipo y ámbito
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#method" data-toggle="tab" role="tab">
                                Carácter
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="image">
                            @Html.HiddenFor(x => x.Id)

                            <div class="row justify-content-center">
                                <div class="col-lg-8 col-md-12 col-sm-12 text-center">
                                    <div class="form-group">
                                        @Html.DropDownListFor(x => x.Id_Company, ViewBag.CompanyList as SelectList, new { @id = "CompaniesList", @class = "selectpicker col-12", @data_size = "7", @data_style = "btn btn-outline-primary btn-round", @title = "Selecciona una empresa", @required = "" })
                                        <small class="form-text text-muted">¿La empresa que búscas no está en la lista? <a href="#" onclick="AddCompany();">Da clic aquí</a></small>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex flex-column">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Título</label>
                                        @Html.TextBoxFor(x => x.Titulo, new { @required = "", @type = "text", @class = "form-control" })
                                    </div>
                                </div>
                                @if (Model.Id == 0)
                                {
                                    <div class="form-group form-file-upload form-file-multiple col-12">
                                        @Html.TextBoxFor(x => x.File, new { @type = "file", @class = "inputFileHidden", @accept = "application/pdf", @required = "" })
                                        <div class="input-group">
                                            <input type="text" class="form-control inputFileVisible" placeholder="Selecciona tu anteproyecto en formato PDF">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-fab btn-round btn-primary">
                                                    <i class="material-icons">attach_file</i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                }
                                @if (Model.Id == 0)
                                {
                                    <div class="bootstrap-tagsinput primary-badge" style="padding: 4px 15px;">
                                        <div class="form-group">
                                            <label class="text-success">Integrantes del equipo (opcional)</label>
                                            @Html.TextBoxFor(x => x.Member, new { @id = "teamtag", @class = "form-control", @placeholder = "Número de control" })
                                            <small class="form-text text-muted text-rose mt-0">Nota: Los integrantes deben estar registrados en esta plataforma para poder ser agregados al equipo</small>
                                        </div>
                                    </div>
                                }
                            </div>

                        </div>
                        <div class="tab-pane" id="voucher">
                            <div class="d-flex flex-column">
                                <div class="form-group">
                                    @Html.DropDownListFor(x => x.Id_Kind, ViewBag.KindList as SelectList, new { @class = "selectpicker col-12", @data_size = "7", @data_style = "btn btn-outline-primary btn-round", @title = "Tipo", @required = "" })
                                </div>
                                <div class="form-group">
                                    @Html.DropDownListFor(x => x.Id_Ambit, ViewBag.AmbitList as SelectList, new { @class = "selectpicker col-12", @data_size = "7", @data_style = "btn btn-outline-primary btn-round", @title = "Ámbito", @required = "" })
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="method">
                            <div class="d-flex flex-column">
                                <div class="form-group">
                                    @Html.DropDownListFor(x => x.Id_Nature, ViewBag.NatureList as SelectList, new { @class = "selectpicker col-12", @data_size = "7", @data_style = "btn btn-outline-primary btn-round", @title = "Carácter", @required = "" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="card-footer">
                <div class="mr-auto">
                    <input type="button" class="btn btn-previous btn-fill btn-default btn-wd disabled" name="previous" value="Anterior">
                </div>
                <div class="ml-auto">
                    <input type="button" class="btn btn-next btn-fill btn-rose btn-wd" name="next" value="Siguiente">
                    <input type="button" class="btn btn-finish btn-fill btn-rose btn-wd" onclick="Save(this);" name="finish" value="Finalizar" style="display: none;">
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery.tagsinput.js"></script>
<script src="~/Scripts/bootstrap-tagsinput.js"></script>

<script>
    setTimeout(function () {
        $('.card.card-wizard').addClass('active');
    }, 600);

    $('.moving-tab').hide();

    $('#AddEditModal').on('shown.bs.modal', function () {
        Site.initWizardForms();
        $('.moving-tab').show();
        $('.btn-next').removeClass('disabled');
        //$('.bootstrap-tagsinput').find('input').eq(0).css('width', 'auto').attr('type', 'number');
        $('input[placeholder="Número de control"]').eq(0).tagsinput({
            maxChars: 8,
            trimValue: true
        });
        $('input[placeholder="Número de control"]').eq(0).css('width', 'auto').attr('type', 'number');
        var IdCarreras = @Html.Raw(Json.Encode(Model.Id_Carreras));
        $('#Id_Carreras').selectpicker('val', IdCarreras);
    })

    $('select').selectpicker();
    Site.initFileInput();
</script>